{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<div class="nav-left">
			<h1><a href="{% url 'home' %}">Django Blog</a></h1>
		</div>
		
		<div class="nav-right">
			<a href="{% url 'post_new' %}">Add New Blog Post</a>
		</div>
	</header>

	{% if user.is_authenticated %}
		<p>Hello {{user.username}}</p>
		<p><a href="{% url 'logout' %}">Logout</a></p>
	{% else %}
		<p>Your are not logged in</p>
		<p><a href="{% url 'login' %}">Login</a></p>
	{% endif %}

	<div>
		{% block content %}
		{% endblock content %}
	</div>
	
</body>
</html>